@{
    ViewData["Title"] = "Geçersiz Bağlantı";
    Layout = "_ErrorLayout";
}
<div class="ex-page-content text-center">
    <h1 class="text-white">Hata!</h1>
    <h2 class="text-white">Bağlantınızın süresi dolmuş.</h2><br>

    <a class="btn btn-danger waves-effect waves-light" asp-controller="Home" asp-action="Index"><i class="fa fa-home m-r-5"></i>Anasayfa</a>
</div>