@{
    ViewData["Title"] = "Davet Et";
}
<div class="form-container m-10">
    <form asp-action="InvitePerson" method="post">
        <div class="form-group">
            <label for="mail">Kullanıcı mail:</label>
            <input type="email" placeholder="ornek@mail.com" name="InviteMail"  required class="form-control"/>
            <span class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Davet Gönder</button>
    </form>
</div>